.product-info {

    &__description {
        color: #51585e;
        font-size: 1em;
        line-height: 1.5em;
        border-bottom: 1px solid #eee;
        padding-bottom: 20px;
    }

    &__orders {
        color: #9da1a7;
    }

}