.subcategories {
    @include flex();

    &__badge {
        display: inline-flex;
        background: #fff;
        padding: 5px 20px;
        border: 1px solid #dee2e6;
        border-radius: 20px;
        text-decoration: none;
        color: #000;
        margin-right: 5px;
        color: #51585e;
    }

    &__badge:hover {
        color: #000;
    }

}