{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="pt-5 pb-5">
    <!-- PRODUCTS -->
    {% for category in random_categories %}
    <div class="container mb-5">
        <div class="row">
            <h2 class="mb-5"><a href="{% url 'store:category_view' category.id %}" class="main-view__category-link">{{ category.name }}</a></h2>
        </div>
        <div class="row">
            {% for product in category.products %}
                <div class="col-3">
                    {% include '../product/product_card.html' %}
                </div>
            {% empty %}
                <div class="empty-category">No products in this category.</div>
            {% endfor %}
        </div>
    </div>
    {% endfor %}
</div>
{%endblock %}