/* BACKGROUNDS */

.grey-container {
    padding: 100px 0;
    background: #f8f9fa;
}

.white-container {
    padding: 100px 0;
    background: #fff;
}

/* PRODUCT CARD */

.product-card {
    position: relative;
    box-shadow: 0 1px 2px rgb(51 51 51 / 7%);
    border-radius: .35rem;
    border: 1px solid rgba(81,88,94,.12);
    transition: .2s;
    overflow: hidden;
    background: #fff;
    margin-bottom: 30px;
}

.product-card:hover {
    box-shadow: 0 3px 10px rgb(51 51 51 / 10%);
}

.product-card__image-area {
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid rgba(81,88,94,.12);
}

.product-card__image {
    display: block;
    height: 200px;
    object-fit: contain;
}

.product-card__data {
    padding: 20px;
    height: 120px;
}

.product-card__name {
    font-size: 1em;
    text-decoration: none;
    color: #51585e;
}

.product-card__price {
    font-size: 1em;
    margin-bottom: 0px;
    color: #000;
    font-weight: bold;
}

.product-card__buttons {
    padding: 0 20px 10px 20px;
    display: flex;
    justify-content: start;
    align-items: center;
}

.product-card__availability {
    font-size: .8em;
    text-align: left;
    padding: 0 20px 20px 20px;
    color: #ccc;
}

.product-card__add-to-wishlist {
    width: 30px;
    height: 30px;
    position: absolute;
    top: 10px;
    right: 15px;
}

.product-card__add-to-wishlist-button {
    display: block;
    width: 34px;
    height: 34px;
    background-color: #fff;
    border-radius: .35rem;
    border: 1px solid #dee2e6;
    transition: .2s;
    line-height: 34px;
    text-align: center;
    color: #6c757d;
    font-size: 1em;
}

.product-card__add-to-wishlist-button--active, .product-card__add-to-wishlist-button:hover {
    color: #0d6efd;
    border-color: #0d6efd;
    background-color: #f9fafb;
}

.search__add-to-wishlist-button:hover, .search__add-to-wishlist-button--active {
    color: #0d6efd !important;
    border-color: #0d6efd;
    background-color: #f9fafb;
}

/* NAV MENU */
.nav {
    background: #fff;
    border-bottom: 1px solid #dee2e6;
    padding: 15px 0;
}

.nav__row {
    display: flex;
    align-items: center;
}

.nav__logo {
    width: 220px;
    margin-right: 150px;
}

.nav__search {
    flex-grow: 1;
}

.nav__icons-area {
    display: flex;
    margin-left: 100px;
}

.nav__link {
    color: #9da1a7;
    text-decoration: none;
    transition: .2s;
    display: flex;
    flex-direction: column;
}

.nav__icon-area {
    height: 24px;
}

.nav__link:hover {
    color: #000;
}

.nav__icon-font {
    display: block;
    font-size: 15pt;
    text-align: center;
    line-height: 24px;
}

.nav__icon-text {
    font-size: .8em;
}

.nav__search-select-input {
    border: 1px solid #ced4da;
    padding-left: 10px;
    padding-right: 10px;
}

.nav__user-image-area {
    width: 24px;
    height: 24px;
    margin: 0 auto;
    border-radius: 24px;
    overflow: hidden;
}

.nav__user-image {
    display: block;
    width: 24px;
    height: 24px;
    object-fit: cover;
}

/* CATEGORIES */
.categories {
    padding: 10px 0;
    background: #fff;
    border-bottom: 1px solid #dee2e6;
    box-shadow: 0 2px 10px rgb(51 51 51 / 10%);
    position: relative;
}

.categories__ul {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
}

.categories__item {
    position: relative;
    list-style: none;
    margin-right: 20px;
}

.categories__link {
    display: block;
    padding: 0px 10px;
    text-decoration: none;
    color: #212529;
    transition: .2s;
    color: rgba(33,37,41,.7);
    line-height: 40px;
}

.categories__link:hover {
    color: #000;
}

.categories__item:hover .categories__dropdown-content {
    display: block;
}

.categories__dropdown-content {
    display: none;
    background-color: #fff;
    box-shadow: 0 1px 2px rgb(51 51 51 / 7%);
    border-radius: .35rem;
    position: absolute;
    top: 40px;
    left: 0px;
    list-style: none;
    padding: 10px;
    margin: 0;
    border: 1px solid #dee2e6;
    min-width: 200px;
}

.categories__dropdown-link {
    text-decoration: none;
    color: #212529;
    transition: .2s;
    color: rgba(33,37,41,.7);
    line-height: 40px;
}

/* SUBCATEGORIES */
.subcategories {
    display: flex;
}

.subcategories__badge {
    display: inline-flex;
    background: #fff;
    padding: 5px 20px;
    border: 1px solid #dee2e6;
    border-radius: 20px;
    text-decoration: none;
    color: #000;
    margin-right: 5px;
    color: #51585e;
}

.subcategories__badge:hover {
    color: #000;
}

/* PRODUCT INFO */

.product-info__description {
    color: #51585e;
    font-size: 1em;
    line-height: 1.5em;
    border-bottom: 1px solid #eee;
    padding-bottom: 20px;
}

.product-info__orders {
    color: #9da1a7;
}

/* PRODUCT IMAGE */

.product-image {
    background: #fff;
    height: 500px;
    box-shadow: 0 1px 2px rgb(51 51 51 / 7%);
    border-radius: .35rem;
    border: 1px solid rgba(81,88,94,.12);
}

.product-image__image {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: contain;
}

/* FOOTER */
.footer {
    background-color: #0d6efd;
    padding: 35px 0 10px 0;
    color: #fff;
}

.footer__container {
    border-bottom: 1px solid rgba(255,255,255,.3);
}

.footer__menu-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer__menu-item {
    margin-bottom: 10px;
}

.footer__menu-item--bold {
    font-weight: bold;
}

.footer__menu-link {
    color: rgba(255,255,255,.7);
    text-decoration: none;
    transition: .2s;
}

.footer__menu-link:hover {
    color: rgba(255,255,255,1);
}

.footer__logo {
    width: 200px;
    opacity: .5;
}

.footer__copy {
    color: rgba(255,255,255,.3);
}

/* CART */

.cart__delete {
    margin-left: 50px;
}

.cart__sidebar {
    background: #fff;
    padding: 30px;
    border: 1px solid rgba(81,88,94,.12);
    box-shadow: 0 0.05rem 0.2rem rgb(0 0 0 / 3%);
    border-radius: 0.35rem;
}

.cart__total-price, .cart__total-tax {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}

.cart__total-tax {
    border-bottom: 1px solid rgba(81,88,94,.12);
}


.cart__sidebar-price {
    font-size: 1.3em;
    font-weight: bold;
}

.cart__checkout-button {
    width: 100%;
}

.cart__narrative {
    font-size: 2em;
    text-align: center;
    color: #ccc;
}

.cart__product {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #fff;
    padding: 30px;
    border: 1px solid rgba(81,88,94,.12);
    box-shadow: 0 0.05rem 0.2rem rgb(0 0 0 / 3%);
    border-radius: 0.35rem;
git bra}


.cart__image-link {
    text-decoration: none;
}

.cart__image {
    width: 72px;
    height: 72px;
    border: 1px solid #dee2e6;
    border-radius: 0.35rem;
    background-color: #fff;
}

.cart__product-link {
    color: #51585e;
    text-decoration: none;
}

.cart__product-area {
    display: flex;
    align-items: center;
    flex-grow: 1;
}

.cart__quantity {
    display: flex
}

.cart__button {
    text-decoration: none;
    text-align: center;
    width: 42px;
    line-height: 1.5em;
    background-color: #fff;
    border: 1px solid #dee2e6;
    border-radius: 0.35rem;
    transition: .2s;
    font-size: 1.4em;
    font-weight: bold;
    color: rgb(153, 153, 153);
}

.cart__button:hover {
    background: #f9fafb;
    border-color: #c1c9d0;
}

.cart__button--left {
    border-right: none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.cart__button--right {
    border-left: none;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.cart__product-category {
    color: #9da1a7;
    text-decoration: none;
}

.cart__input {
    border: 1px solid #dee2e6;
    background: #f9f9f9;
    height: 40px;
    width: 80px;
    text-align: center;
}

.cart__price {
    color: #212529;
    font-weight: bold;
    margin-left: 50px;
    width: 100px;
    text-align: center;
}

.cart__percent-part {
    font-size: .8em;
    font-weight: normal;
}

.cart__price-part {
}

/* Profile */

.profile__image {
  vertical-align: middle;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.profile__image:hover {
  box-shadow: 0px 0px 5px 1px rgba(0, 140, 186, 0.5);
}

.search__image_sad {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    max-width: 12%;
    height: auto
}

/* hoover-navbar */
@media (min-width: 100px) {
    .dropdown:hover .dropdown-menu {
        display: block;

    }
    .navbar a:hover, .dropdown:hover {
    background-color: #9f26eb;
    -moz-border-radius-topleft: 10px;
  -moz-border-radius-topright: 10px;
  -moz-border-radius-bottomright: 10px;
  -moz-border-radius-bottomleft: 10px;
  -webkit-border-radius: 10px 10px 10px 10px;
  border-radius: 10px 10px 10px 10px;

}
}

/* SEARCHING */

.search__item {
    display: flex;
    align-items: stretch;
    box-shadow: 0 1px 2px rgb(51 51 51 / 7%);
    border-radius: .35rem;
    border: 1px solid rgba(81,88,94,.12);
    transition: .2s;
    background: #fff;
    margin-bottom: 30px;
    transition: .2s;
    position: relative;
}

.search__item:hover {
    box-shadow: 0 3px 10px rgb(51 51 51 / 10%);
}

.search__photo {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    width: 200px;
    border-right: 1px solid rgba(81,88,94,.12);
}

.search__add-to-wishlist {
    width: 40px;
    height: 40px;
    position: absolute;
    top: 20px;
    right: 20px;
}

.search__add-to-wishlist-button {
    display: block;
    width: 40px;
    height: 40px;
    background-color: #fff;
    border-radius: .35rem;
    border: 1px solid #dee2e6;
    transition: .2s;
    line-height: 40px;
    text-align: center;
    color: #6c757d;
}

.search__add-to-wishlist-button:hover, .search__add-to-wishlist-button--active {
    border-color: #0d6efd;
    background-color: #f9fafb;
}

.search__image {
    display: block;
    height: 160px;
    width: 160px;
}

.search__name {
    margin-bottom: 5px;
}

.search__name-link {
    color: #212529;
    text-decoration: none;
    transition: .2s;
}

.search__price {
    color: #212529;
    font-weight: bold;
    font-size: 1.2em;
    margin-bottom: 5px;
}

.search__details {
    margin-bottom: 5px;
}

.search__info {
    padding: 20px 50px 20px 20px;
}

.search__description {
    color: #9da1a7;
    margin-bottom: 10px;
}

.search__details-link {
    color: #9da1a7;
    text-decoration: none;
    transition: .2s;
}

.search__details-link:hover {
    color: #212529;
}

.search__not-found {
    display: flex;
    justify-content: center;
    align-items: center;
}

.search__glass {
    width: 120px;
    margin-right: 50px;
}

.search__not-found-header {
    color: #9da1a7;
    font-size: 2em;
}

/* HERO */

.hero {
    display: flex;
}

.hero__header {
    font-size: 3.4em;
}

.hero__subheader {
    color: #51585e;
    font-size: 1.25em;
    font-weight: normal;
}

.hero__image {
    height: 360px;
    width: 460px;
    background-color: lightgrey;
}

.hero__content {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
}

.hero__img {
    height: 360px;
    width: 460px;
}

.hero__content {
    padding-left: 100px;
    flex-grow: 1;
}

/* BREADCRUMBS */
.breadcrumbs__link {
    text-decoration: none;
    transition: .2s;
    color: #9da1a7;
}

.breadcrumbs__link:hover {
    color: rgba(33,37,41,.7);
}

/* EMPTY CATEGORY */

.empty-category {
    font-size: 1.2em;
    text-align: center;
    color: #9da1a7;
}

/* LOGIN WINDOW */

.login {
    width: 500px;
    margin: 0 auto;
    padding: 30px;
    box-shadow: 0 1px 2px rgb(51 51 51 / 7%);
    border-radius: .35rem;
    border: 1px solid rgba(81,88,94,.12);
    overflow: hidden;
    background: #fff;
}

.login__forgot-link {
    font-size: 1em;
    text-decoration: none;
}


/* Final View */

.final_view {
    margin: 0 auto;
    background: #fff;
    border-radius: .40rem;
    border: 2px solid rgba(81,88,94,.12);
    word-break: break-word;
    box-shadow: 0 1px 2px rgb(51 51 51 / 7%);
}

/* STORE MAIN VIEW */
.main-view__category-link {
    text-decoration: none;
    color: #212529;
    transition: .2s;
}

/* CHECKOUT FINAL */

.checkout-final {
    box-shadow: 0 1px 2px rgb(51 51 51 / 7%);
    border-radius: .35rem;
    border: 1px solid rgba(81,88,94,.12);
    transition: .2s;
    overflow: hidden;
    background: #fff;
    margin-bottom: 30px;
    padding: 50px;
}

/* PAGINATION */

