{% extends "base.html" %}
{% load widget_tweaks %}
{% block content %}
{% load format_percent %}
<div class="container  col-lg my-5">
    <div class="row">
     <div class="col-7">
<!--        main panel-->
    <div class="container border rounded p-3">
    <div class="form row">
        {%for confirm in confirms%}
    <div class="col-md-6">
     <div class="m-2">Ordered by: </div>
        <div class="form-control text-center"> {{ confirm.order_by }}</div>
      </div>
    <div class="col-md-6">
    <div class="m-2">Beginning of purchase:</div>
    <div class="form-control text-center">{{ confirm.created|date:'d-m-Y' }}</div>
      </div>
    </div>
    </div>
    <hr>
    <div class="container border rounded p-3">
    <h2 class="p-2">Please provide your shipping and payment infomations.</h2>
    <div class="form row">
         <div class="col-md-3">
    <div class="m-2">Shipping:</div>
    <div class="form-control text-center">{{ confirm.shipping }}</div>
         </div>
    <div class="col-md-3">
    <div class="m-2">Shipping price:</div>
        <div class="form-control text-center">${{ confirm.shipping.price }}</div>
         </div>
        <div class="col-md-3">
    <div class="m-2">Service type:</div>
    <div class="form-control text-center">{{ confirm.shipping.service_type }} </div>
         </div>
        <div class="col-md-3">
    <div class="m-2">Tax:</div>
    <div class="form-control text-center">{{ confirm.shipping.tax|format_percent }} </div>
         </div>
    </div>
        <div class="col-md-3">
    <div class="m-2">Payment method:</div>
    <div class="form-control text-center">{{ confirm.payment_method }}</div>
         </div>
            </div>
    <hr>
     <div class="container border rounded p-3">
    <h2>Please provide your address.</h2>
    <div class="form-group">
    <div class="m-2">Full adress</div>
   <div class="form-control"> {{ confirm.address_street }}</div>
  </div>
    <div class="form row">
         <div class="col-md-3">
    <div class="p-1">City name:</div>
    <div class="form-control text-center">{{ confirm.address_city }} </div>
         </div>
         <div class="col-md-3">
    <div class="p-1">Address postal code:</div>
    <div class="form-control text-center">{{ confirm.address_postal_code }}</div>
         </div>
  </div>
         {%endfor%}
            <a class="btn btn-primary my-3 col-12" href="{% url 'final' %}" role="button">Confirm Purchase</a>
     </div>
    </div>
    {% include 'sidepanel/sidepanel.html' %}
</div>
</div>
{% endblock %}
