{% extends "base.html" %}
{% load widget_tweaks %}
{% block content %}

<!--<div class="container col-lg my-5">-->
<!--    <div class="row">-->
<!--        <div class="col-7">-->
<!--            <form method="post">-->
<!--                {% csrf_token %}-->

<!--                &lt;!&ndash; added validation&ndash;&gt;-->
<!--                {{ form.media }}-->
<!--                {% for hidden_field in form.hidden_fields %}-->
<!--                    {{ hidden_field }}-->
<!--                {% endfor %}-->

<!--                {% if form.non_field_errors %}-->
<!--                    <div class="alert alert-danger" role="alert">-->
<!--                        {% for error in form.non_field_errors %}-->
<!--                            {{ error }}-->
<!--                        {% endfor %}-->
<!--                    </div>-->
<!--                {% endif %}-->



<!--&lt;!&ndash;        main panel&ndash;&gt;-->
<!--    <div class="container border rounded p-3">-->
<!--    <div class="form row">-->
<!--    <div class="col-md-6">-->
<!--    {{ form.order_by.errors }}-->
<!--    {{ form.order_by.label_tag }}-->
<!--    {{ form.order_by }}-->
<!--      </div>-->
<!--    <div class="col-md-6">-->
<!--    {{ form.created.errors }}-->
<!--    {{ form.created.label_tag }}-->
<!--    {{ form.created }}-->
<!--      </div>-->
<!--    </div>-->
<!--    </div>-->
<!--    <hr>-->
<!--    <div class="container border rounded p-3">-->
<!--    <h2>Please provide your shipping and payment infomations.</h2>-->
<!--    <div class="form row">-->
<!--         <div class="col-md-3">-->
<!--    {{ form.shipping.errors }}-->
<!--    {{ form.shipping.label_tag }}-->
<!--    {{ form.shipping }}-->
<!--         </div>-->


<!--    </div>-->
<!--        <div class="form my-3">-->
<!--    {{ form.payment_method.errors }}-->
<!--    {{ form.payment_method.label_tag }}-->
<!--    {{ form.payment_method }}-->
<!--         </div>-->
<!--            </div>-->
<!--    <hr>-->
<!--     <div class="container border rounded p-3">-->
<!--    <h2>Please provide your address.</h2>-->
<!--    <div class="form-group">-->

<!--         {{ form.address_street.label_tag }}-->
<!--      {% if form.is_bound %}-->
<!--        {% if form.address_street.errors %}-->
<!--          {% render_field form.address_street class="form-control is-invalid" %}-->
<!--          {% for error in form.address_street.errors %}-->
<!--            <div class="invalid-feedback">-->
<!--              {{ error }}-->
<!--            </div>-->
<!--          {% endfor %}-->
<!--        {% else %}-->
<!--          {% render_field form.address_street class="form-control is-valid" %}-->
<!--        {% endif %}-->
<!--      {% else %}-->
<!--        {% render_field form.address_street class="form-control" %}-->
<!--      {% endif %}-->

<!--      {% if form.address_street.help_text %}-->
<!--        <small class="form-text text-muted">{{ form.address_street.help_text }}</small>-->
<!--      {% endif %}-->

<!--     </div>-->

<!--    <div class="form row">-->
<!--         <div class="col-md-3">-->
<!--     {{ form.address_city.label_tag }}-->
<!--      {% if form.is_bound %}-->
<!--        {% if form.address_city.errors %}-->
<!--          {% render_field form.address_city class="form-control is-invalid" %}-->
<!--          {% for error in form.address_city.errors %}-->
<!--            <div class="invalid-feedback">-->
<!--              {{ error }}-->
<!--            </div>-->
<!--          {% endfor %}-->
<!--        {% else %}-->
<!--          {% render_field form.address_city class="form-control is-valid" %}-->
<!--        {% endif %}-->
<!--      {% else %}-->
<!--        {% render_field form.address_city class="form-control" %}-->
<!--      {% endif %}-->

<!--      {% if form.address_city.help_text %}-->
<!--        <small class="form-text text-muted">{{ form.address_city.help_text }}</small>-->
<!--      {% endif %}-->
<!--         </div>-->

<!--         <div class="col-md-3">-->
<!--    {{ form.address_postal_code.label_tag }}-->
<!--      {% if form.is_bound %}-->
<!--        {% if form.address_postal_code.errors %}-->
<!--          {% render_field form.address_postal_code class="form-control is-invalid" %}-->
<!--          {% for error in form.address_postal_code.errors %}-->
<!--            <div class="invalid-feedback">-->
<!--              {{ error }}-->
<!--            </div>-->
<!--          {% endfor %}-->
<!--        {% else %}-->
<!--          {% render_field form.address_postal_code class="form-control is-valid" %}-->
<!--        {% endif %}-->
<!--      {% else %}-->
<!--        {% render_field form.address_postal_code class="form-control" %}-->
<!--      {% endif %}-->
<!--      {% if form.address_postal_code.help_text %}-->
<!--        <small class="form-text text-muted">{{ form.address_postal_code.help_text }}</small>-->
<!--      {% endif %}-->
<!--         </div>-->
<!--  </div>-->
<!--            <input type="submit" value="Submit" class="btn btn-lg col-12 my-3 btn-primary" >-->
<!--</form>-->
<!--     </div>-->
<!--    </div>-->
<!--    {% include 'sidepanel/sidepanel.html' %}-->
<!--</div>-->
<!--</div>-->

<div>
    <div class="container mt-5 mb-5">
        <div class="row">
            <div class="col-8">
                <div class="order-form__content">
                        <h5 class="mb-3">Personal data</h5>
                        <div class="row mb-3">
                            <div class="col-6">
                                <label for="first_name" class="form-label">First name</label>
                                <input type="email" class="form-control" id="first_name" placeholder="{{ user_profile.first_name }}" disabled>
                            </div>
                            <div class="col-6">
                                <label for="last_name" class="form-label">Last name</label>
                                <input type="email" class="form-control" id="last_name" placeholder="{{ user_profile.last_name }}" disabled>
                            </div>
                        </div>
                        <div class="row mb-5">
                            <div class="col-6">
                                <label for="email" class="form-label">E-mail</label>
                                <input type="email" class="form-control" id="email" placeholder="{{ user.email }}" disabled>
                            </div>
                            <div class="col-6">
                                <label for="phone" class="form-label">Phone</label>
                                <input type="email" class="form-control" id="phone" placeholder="{{ user_profile.phone }}" disabled>
                            </div>
                        </div>
                    <form method="post" novalidate>
                        {% csrf_token %}

                        {{ form.media }}
                        {% for hidden_field in form.hidden_fields %}
                            {{ hidden_field }}
                        {% endfor %}

                        {% if form.non_field_errors %}
                            <div class="alert alert-danger" role="alert">
                                {% for error in form.non_field_errors %}
                                    {{ error }}
                                {% endfor %}
                            </div>
                        {% endif %}

                        <h5 class="mb-3">Address</h5>
                        <div class="row mb-3">
                            <div>
                                <label for="{{ form.street.id_for_label }}" class="form-label">Street</label>
                                {% if form.is_bound %}
                                    {% if form.street.errors %}
                                        {% render_field form.street class="form-control is-invalid" %}
                                        {% for error in form.street.errors %}
                                            <div class="invalid-feedback">{{ error }}</div>
                                        {% endfor %}
                                    {% else %}
                                        {% render_field form.street class="form-control is-valid" %}
                                    {% endif %}
                                {% else %}
                                    {% render_field form.street class="form-control" %}
                                {% endif %}
                            </div>
                        </div>
                        <div class="row mb-5">
                            <div class="col-4">
                                <label for="{{ form.house.id_for_label }}" class="form-label">House</label>
                                {% if form.is_bound %}
                                    {% if form.house.errors %}
                                        {% render_field form.house class="form-control is-invalid" %}
                                        {% for error in form.house.errors %}
                                            <div class="invalid-feedback">{{ error }}</div>
                                        {% endfor %}
                                    {% else %}
                                        {% render_field form.house class="form-control is-valid" %}
                                    {% endif %}
                                {% else %}
                                    {% render_field form.house class="form-control" %}
                                {% endif %}
                            </div>
                            <div class="col-4">
                                <label for="{{ form.city.id_for_label }}" class="form-label">City</label>
                                {% if form.is_bound %}
                                    {% if form.city.errors %}
                                        {% render_field form.city class="form-control is-invalid" %}
                                        {% for error in form.city.errors %}
                                            <div class="invalid-feedback">{{ error }}</div>
                                        {% endfor %}
                                    {% else %}
                                        {% render_field form.city class="form-control is-valid" %}
                                    {% endif %}
                                {% else %}
                                    {% render_field form.city class="form-control" %}
                                {% endif %}
                            </div>
                            <div class="col-4">
                                <label for="{{ form.postal_code.id_for_label }}" class="form-label">Postal code</label>
                                {% if form.is_bound %}
                                    {% if form.postal_code.errors %}
                                        {% render_field form.postal_code class="form-control is-invalid" %}
                                        {% for error in form.postal_code.errors %}
                                            <div class="invalid-feedback">{{ error }}</div>
                                        {% endfor %}
                                    {% else %}
                                        {% render_field form.postal_code class="form-control is-valid" %}
                                    {% endif %}
                                {% else %}
                                    {% render_field form.postal_code class="form-control" %}
                                {% endif %}
                            </div>
                        </div>
                        <h5 class="mb-3">Shipping</h5>
                        <div class="row mb-5">
                            {% for radio in form.shipping %}
                                <div class="col-4">
                                    <div class="order-form__radio-card">
                                        <div class="form-check">
                                            <div>
                                                {{ radio.tag }}
                                                <label class="form-check-label" for="{{ radio.id_for_label }}">{{ radio.choice_label }}</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                        <h5 class="mb-3">Payment</h5>
                        <div class="row mb-5">
                            {% for radio in form.payment_method %}
                                <div class="col-4">
                                    <div class="order-form__radio-card">
                                        <div class="form-check">
                                            <div>
                                                {{ radio.tag }}
                                                <label class="form-check-label" for="{{ radio.id_for_label }}">{{ radio.choice_label }}</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                        <input type="submit" value="Submit" class="btn btn-primary col-12">
                    </form>
                </div>
            </div>
            <div class="col-4">
                <div class="order-form__products mb-3">
                    <h5 class="mb-4">Your products</h5>
                    <div class="order-form__products-area">
                        {% for product in sidepanel_products %}
                            <div class="order-form__item">
                                <div class="order-form__item-image-area"><a href="{% url 'store:product_view' product.product.id %}"><img src="{{ product.product.image_url|default_if_none:'/static/placeholder.jpg' }}" alt="#" class="order-form__item-image"></a></div>
                                <div class="order-form__item-description-area">
                                    <div><a href="{% url 'store:product_view' product.product.id %}" class="order-form__item-link">{{ product.product.name|truncatechars:25 }}</a></div>
                                    <div><small class="text-muted">Quantity:</small> <small><strong>{{ product.quantity }}</strong></small></div>
                                    <div><small class="text-muted">Total price:</small> <small><strong>${{ product.total_price }}</strong></small></div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="order-form__sidebar">
                    <h5 class="mb-4">Summary</h5>
                    <div class="row mb-2">
                        <div class="col-6">
                            <h6>Total price</h6>
                        </div>
                        <div class="col-6">
                            <h6 class="text-end">${{ sidepanel_overall_price }}</h6>
                        </div>
                    </div>
                    <div class="row mb-4">
                        <div class="col-6">
                            <h6>Tax</h6>
                        </div>
                        <div class="col-6">
                            <h6 class="text-end">${{ sidepanel_overall_tax|floatformat:2 }}</h6>
                        </div>
                    </div>
                    <a href="{% url 'store:cart_view' %}" class="btn btn-primary col-12">Go back to cart</a>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
