{% extends "base.html" %}
{% load widget_tweaks %}
{% block content %}
<div class="container col-lg-6 my-3">
<form method="post">
    <div class="form row">
    <div class="col-md-3">
    {{ form.order_by.errors }}
    {{ form.order_by.label_tag }}
    {{ form.order_by }}
      </div>
    <div class="col-md-3">
    {{ form.created.errors }}
    {{ form.created.label_tag }}
    {{ form.created }}
      </div>
    </div>
    <hr>
    <h2>Please provide your shipping ang payment infromations.</h2>
    <div class="form row">
         <div class="col-md-3">
    {{ form.shipping.errors }}
    {{ form.shipping.label_tag }}
    {{ form.shipping }}
         </div>

        <div class="col-md-3">
    {{ form.payment.errors }}
    {{ form.payment.label_tag }}
    {{ form.payment }}
         </div>
    </div>
        <div class="form my-3">
    {{ form.payment_method.errors }}
    {{ form.payment_method.label_tag }}
    {{ form.payment_method }}
         </div>
    <div class="form-group">
    {{ form.address_street.errors }}
    {{ form.address_street.label_tag }}
    {{ form.address_street }}
  </div>
    <div class="form row">
         <div class="col-md-3">
    {{ form.address_city.errors }}
    {{ form.address_city.label_tag }}
    {{ form.address_city }}
         </div>
         <div class="col-md-3">
    {{ form.address_postal_code.errors }}
    {{ form.address_postal_code.label_tag }}
    {{ form.address_postal_code }}
         </div>
        <div class="col-md-3">
    {{ form.address_postal_code.errors }}
    {{ form.address_postal_code.label_tag }}
    {{ form.address_postal_code }}
         </div>
  </div>


</form>
    </div>
{% endblock %}
