{% extends "base.html" %}

{% block content %}
<div class="container col-4">

<p class="h3 mt-5" > Logged out </p>

Thanks for spending some quality time with the website today.

<hr>
        <div class="text-center">
    <div>
<a class='ml-5 h4' href= "{% url 'store_main_view' %}" style="text-decoration: none;">Go back to the main page</a>
        </div>
   or
    <div>
<a class='ml-5 h4' href= "{% url 'login' %}" style="text-decoration: none;">Log in again</a>
        </div>
        </div>
</div>
{% endblock %}