{% extends "base.html" %}
{% load widget_tweaks %}
{% block content %}

<div class="grey-container">
  <form method="post">
    {% csrf_token %}
    {% for hidden_field in form.hidden_fields %}
      {{ hidden_field }}
    {% endfor %}
    <div class="login">
      {% if form.non_field_errors %}
        <div class="alert alert-danger" role="alert">
          {% for error in form.non_field_errors %}
            {{ error }}
          {% endfor %}
        </div>
      {% endif %}
      <h3 class="mb-4">Sign in</h3>
      <div class="mb-3">
        <label for="login" class="form-label">Login</label>
        {% render_field form.username class="form-control" placeholder="Username" id="login" %}
      </div>
      <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <a href="{% url 'password_reset' %}" class="float-end login__forgot-link">Forgot your password?</a>
        {% render_field form.password class="form-control" placeholder="Password" id="password" %}
      </div>
      <div class="mb-4">
          {% render_field form.remember_me class="form-check-input" id='remember_me' %}
          <label class="form-check-label" for="remember_me">Remember me</label>
      </div>
      <div class="d-grid gap-2 mb-3">
        <input class="btn btn-primary" type="submit" value="Sign in">
      </div>
      <div class="d-grid gap-2 mb-2">
        <a href="{% url 'sign_up' %}" class="btn btn-outline-primary" type="button">Create an account</a>
      </div>
    </div>
  </form>
</div>
{% endblock %}