{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="container pt-4">
        {% if profile.image %}
        <img class="rounded-0 account-img float-start me-4 " src={{ profile.image.url }}  width="150"
    height="150">
        {% endif %}
        <h2>User Name: <br>{{ profile.user.username }}</h2>
        <p><b>Gender:</b> {{ profile.gender|default:"Not specified" }}</p>

    <hr>
    <br>
    <div class="col-6 py-2">
        <b>Some info on me:</b>
        <div class="shadow p-2 mb-3 bg-white rounded">
        {{ profile.biography|safe }}
        </div>
        </div>
</div>

{% endblock %}

