{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="pt-5 pb-5">
    <div class="container">
        <div class="row">
            <h2 class="mb-5">Your wishlist</h2>
        </div>
        <div class="row">
            {% for product in object_list %}
                <div class="col-3">
                    {% include '../product/product_card.html' %}
                </div>
            {% empty %}
                <div class="empty-category">Your wishlist is empty.</div>
            {% endfor %}
        </div>
    </div>
</div>
{%endblock %}