{% extends "base.html" %}
{% load static %}
{% load format_percent %}

{% block content %}
<div class="grey-container">
    <div class="container">
        <h3 class="mb-5">Your cart</h3>
        <div class="cart">
            {% if products is not None %}
            <div class="row">
                <div class="col-9">
                    {% for product in products %}
                    <div class="cart__products">
                        <div class="cart__product mb-3">
                            <div class="cart__product-area">
                                <div class="cart__image-link">
                                    <a href="{% url 'store:product_view' product.product.id %}"><img src="{{ product.image.url }}" class="cart__image me-3"></a>
                                </div>
                                <div class="cart__description">
                                    <div>
                                        <a href="{% url 'store:product_view' product.product.id %}" class="cart__product-link">{{ product.product.name }}</a>
                                    </div>
                                    <div>
                                        <a href="{% url 'store:category_view' product.product.category.id %}" class="cart__product-category">{{ product.product.category.name }}</a>
                                    </div>
                                </div>
                            </div>
                            <div class="cart__quantity">
                                <a href="{% url 'store:increase_quantity_in_cart_view' product.product.id %}" class="cart__button cart__button--left">-</a>
                                <input type="text" class="cart__input" placeholder="{{ product.quantity }}" readonly>
                                <a href="{% url 'store:decrease_quantity_in_cart_view' product.product.id %}" class="cart__button cart__button--right">+</a>
                            </div>
                            <div class="cart__price"><div class="cart__price-part">${{ product.total_price }}</div><div class="cart__percent-part">(VAT: {{ product.product.tax|format_percent }})</div></div>
                            <div class="cart__delete">
                                <a href="{% url 'store:delete_from_cart_view' product.product.id %}" class="btn btn-outline-secondary" role="button" aria-pressed="true"><i class="bi bi-trash3"></i></a>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                <div class="col-3">
                    <div class="cart__sidebar">
                        <div class="cart__total-price mb-3">
                            <div>Total price</div>
                            <div class="cart__sidebar-price">${{ overall_price }}</div>
                        </div>
                        <div class="cart__total-tax pb-4 mb-4">
                            <div>TAX</div>
                            <div class="cart__sidebar-tax">${{ overall_tax|floatformat:2 }}</div>
                        </div>
                        {% if user.is_authenticated %}
                        <div class="cart__sidebar-buttons">
                            <a href="{% url 'order_view' %}" class="btn btn-primary cart__checkout-button">Checkout</a>
                        </div>
                        {% else %}
                        <div class="cart__sidebar-buttons">
                            <a href="{% url 'p_login' %}" class="btn btn-primary cart__checkout-button">Checkout</a>
                        </div>
                        {%endif%}
                    </div>
                </div>
            </div>
            {% else %}
            <div class="row">
                <div class="cart__narrative">... is empty :(</div>
            </div>
            {% endif %}
        </div>
    </div>
</div>
{%endblock %}