{% extends "base.html" %}
{% load static %}

{% block content %}
    <div>
        <div class="grey-container">
            {% if object_list|length > 0 %}
                <div class="container">
                {% if object_list|length > 1 %}
                    <h3 class="mb-5">Found {{ object_list|length }} products with {{ request.GET.keywords }}</h3>
                {% else %}
                    <h3 class="mb-5">Found {{ object_list|length }} product with {{ request.GET.keywords }}</h3>
                {% endif %}
                {% for product in object_list %}
                <div class="search__item">
                    <div class="search__photo">
                        <a href="{% url 'store:product_view' product.id %}"><img src="{{ product.image_url }}" class="search__image"></a>
                    </div>
                    <div class="search__info">
                        <div class="search__name"><a href="{% url 'store:product_view' product.id %}" class="search__name-link">{{ product.name }}</a></div>
                        <div class="search__price">${{ product.price }}</div>
                        <div class="search__details"><a href="{% url 'store:category_view' product.category.id %}" class="search__details-link">{{ product.category.name }}</a> » <a href="{% url 'store:leproduct_view' product.subcategory.id %}" class="search__details-link">{{ product.subcategory.name }}</a></div>
                        <div class="search__description">{{ product.description|truncatechars:255|safe }}</div>
                        <div class="search__buttons">
                            <a href="{% url 'store:add_product_to_cart_view' product.id %}" class="btn btn-primary me-2 add-to-cart-button" data-cart-id="{{ product.id }}"><i class="bi bi-cart-plus-fill"></i> Add to cart</a>
                        </div>
                    </div>
                    {% if user.is_authenticated %}
                        <div class="search__add-to-wishlist">
                            {% if product.id in wishlist_content %}
                                <a href="{% url 'store:delete_from_wishlist_view' product.id %}" class="search__add-to-wishlist-button search__add-to-wishlist-button--active"><i class="bi bi-heart-fill"></i></a>
                            {% else %}
                                <a href="{% url 'store:add_to_wishlist_view' product.id %}" class="search__add-to-wishlist-button"><i class="bi bi-heart-fill"></i></a>
                            {% endif %}
                        </div>
                    {% endif %}
                </div>
                {% endfor %}
            {% else %}
                <div class="container">
                    <div class="search__not-found">
                        <div class="search__glass">
                            <img src="{% static 'not-found.svg' %}" alt="Nothing found">
                        </div>
                        <div>
                            <h1 class="search__not-found-header">No products found</h1>
                        </div>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
{%endblock %}