{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="grey-container">
    <div class="container mt-5">
        <div class="row">
          <h1 class="mb-5">{{ category.name }}</h1>
        </div>
        <div class="row">
          {% for product in products_list %}
                <div class="col-3">
                    <div class="product-card">
                        <div class="product-card__image-area">
                            <a><img src="{% static 'placeholder.jpg' %}" class="product-card__image"></a>
                        </div>
                        <div class="product-card__data">
                            <p class="product-card__price">${{ product.price }}</p>
                            <a href="#" class="product-card__name">{{ product.name }}</a>
                        </div>
                        <div class="product-card__buttons">
                            <a href="#" class="btn btn-primary">Add to cart</a>
                        </div>
                    </div>
                </div>
          {% endfor %}
        </div>
    </div>
</div>
{%endblock %}