{% load static %}
  <nav class="nav">
    <div class="container">
      <div class="nav__row">
        <div class="nav__logo">
          <a href="{% url 'store:store_main_view' %}">
          <img src="{% static 'shopcircuit.svg' %}" alt="ShopCircuit">
            </a>
        </div>
        <form class="nav__search" method="GET" action="{% url 'store:search_products' %}">
          <div class="input-group">
              <input type="Search" class="form-control" placeholder="Search for products" name="keywords">
              <select class="form-select" name="category_id">
                <option value="">All categories</option>
                {% for category in categories %}
                  <option value="{{ category.id }}">{{ category.name }}</option>
                {% endfor %}
              </select>
              <button class="btn btn-outline-primary" type="submit" id="button-addon2">Search</button>
          </div>
        </form>
        <div class="nav__icons-area">
          <div class="nav__icon">
            {% if picture_profile %}
            <a href="{% url 'home' %}" class="nav__link">
              <img src="{{picture_profile.url }}" class="profile__image">
              </a>
            <a href="{% url 'logout' %}">
              <span class="nav__icon-text">Logout</span>
            </a>
            {% else %}
            <a href="{% url 'login' %}" class="nav__link">
              <i class="bi bi-person-fill nav__icon-font"></i>
              <span class="nav__icon-text">Login</span>
            </a>
          {% endif %}
          </div>
          <div class="nav__icon ms-5">
              <a href="{% url 'store:cart_view' %}" class="nav__link">
              <i class="bi bi-cart-fill nav__icon-font"></i>
              <span class="nav__icon-text">My cart ({{ cart_items_number }})</span>
            </a>
          </div>
          {% if user.is_authenticated %}
          <div class="nav__icon ms-5">
            <a href="{% url 'store:wishlist_view' %}" class="nav__link">
              <i class="bi bi-heart-fill nav__icon-font"></i>
              {% if wishlist_content|length > 0 %}
                <span class="nav__icon-text">Wishlist ({{ wishlist_content|length }})</span>
              {% else %}
                <span class="nav__icon-text">Wishlist</span>
              {% endif %}
            </a>
          </div>
          {% endif %}
        </div>
      </div>
    </div>
  </nav>

  <!-- CATEGORIES -->
  <nav class="categories">
    <div class="container">
      <ul class="categories__ul">
        {% for category in categories %}
          <li class="categories__item">
            <a href="{% url 'store:category_view' category.id %}" class="categories__link">{{ category.name }}</a>
            <ul class="categories__dropdown-content">
              {% for subcategory in subclasses %}
                {% if subcategory.category_id.pk == category.id %}
                  <li class="categories__dropdown-item"><a href="{% url 'store:leproduct_view' subcategory.id %}" class="categories__dropdown-link">{{ subcategory.name }}</a></li>
                {% endif %}
              {% endfor %}
            </ul>
          </li>
        {% endfor %}
      </ul>
    </div>
  </nav>

