{% load static %}
  <nav class="nav">
    <div class="container">
      <div class="nav__row">
        <div class="nav__logo">
          <a href="{% url 'store:store_main_view' %}">
          <img src="{% static 'shopcircuit.svg' %}" alt="ShopCircuit">
            </a>
        </div>
        <form class="nav__search" method=POST action=" {% url 'store:search_venues' %} ">
          {% csrf_token %}
          <div class="input-group">
              <input type="Search" class="form-control" placeholder="Search for products" name="searched">
              <button class="btn btn-outline-primary" type="submit" id="button-addon2">Search</button>
          </div>
        </form>
        <div class="nav__icons-area">
          <div class="nav__icon">
            {% if picture_profile %}
            <a href="{% url 'home' %}" class="nav__link">
              <img src="{{picture_profile.url }}" class="profile__image">
              </a>
            <a href="{% url 'logout' %}">
              <span class="nav__icon-text">Logout</span>
            </a>
            {% else %}
            <a href="{% url 'login' %}" class="nav__link">
              <i class="bi bi-person-fill nav__icon-font"></i>
              <span class="nav__icon-text">Login</span>
            </a>
          {% endif %}
          </div>
          <div class="nav__icon ms-5">
            <a href="{% url 'store:cart_view' %}" class="nav__link">
              <i class="bi bi-cart-fill nav__icon-font"></i>
              <span class="nav__icon-text">My cart ({{ cart_items_number }})</span>
            </a>
          </div>
          <div class="nav__icon ms-5">
            <a href="#" class="nav__link">
              <i class="bi bi-heart-fill nav__icon-font"></i>
              <span class="nav__icon-text">Wishlist</span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </nav>

  <!-- CATEGORIES -->
<nav class="navbar navbar-expand-lg " style="background-color: #e3f2fd;">
  <div class="container">
    <a class="navbar-brand" href="{% url 'store:store_main_view' %}">HOME</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        {% for category in categories %}
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            {{category}}
          </a>
          <ul class="dropdown-menu">
            {% for sub in subclasses %}
          {% if sub.category_id.pk == category.id %}
            <li><a class="dropdown-item" href="{% url 'store:leproduct_view' sub.id %}">{{sub.name}}</a></li>
            {% endif %}
            {% endfor %}
          </ul>
        </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</nav>

