{% load static %}
  <nav class="nav">
    <div class="container">
      <div class="nav__row">
        <div class="nav__logo">
          <img src="{% static 'shopcircuit.svg' %}" alt="ShopCircuit">
        </div>
        <div class="nav__search">
          <div class="input-group">
              <input type="text" class="form-control" placeholder="Search for products">
              <button class="btn btn-outline-primary" type="button" id="button-addon2">Search</button>
          </div>
        </div>
        <div class="nav__icons-area">
          <div class="nav__icon">
            <a href="#" class="nav__link">
              <i class="bi bi-person-fill nav__icon-font"></i>
              <span class="nav__icon-text">Login</span>
            </a>
          </div>
          <div class="nav__icon ms-5">
            <a href="#" class="nav__link">
              <i class="bi bi-cart-fill nav__icon-font"></i>
              <span class="nav__icon-text">My cart ({{ cart }})</span>
            </a>
          </div>
          <div class="nav__icon ms-5">
            <a href="#" class="nav__link">
              <i class="bi bi-heart-fill nav__icon-font"></i>
              <span class="nav__icon-text">Wishlist</span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </nav>

  <!-- CATEGORIES -->
  <nav class="categories">
    <div class="container">
      <ul class="categories__ul">
        {% for category in categories %}
          <li class="categories__item"><a href="{% url 'store:category_view' category.id %}" class="categories__link">{{ category.name }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </nav>